body{
	padding: 0;
	margin: 0;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
*{
	box-sizing: border-box;
}
html{
	font-family: "Courier New",sans-serif;
}
#General{

	width: 900px;
	height: 90%;
	background: #FFFFFF;
	margin: auto;
	margin-top: 30%;
	margin-top: 1px;
	border-radius: 5px;
}
.nav{
	background-color:#FF92F7;
	height: 60px;
	padding: 10px;
	margin: 0px 8px 8px 8px;
}
.nav h1{
	border: 0;
	margin: 0;
	width: 20%;
	float: left;
	color: white;
}
.nav ul{
	float: right;
	width: 75%;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}
.nav li{
	padding: 9px;
	margin-right: 5px;
	border-radius: 7px;
}
.nav li:Hover{
	background-color: white;
    color: black;
}
.nav a{
	text-decoration-style: none;
	color: #FFFFFF;
}
.Menu{
	float: right;
}

#Contenedor{
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}
#Contenido h1{
	margin-top: 0;
}
#Contenido{
	margin: 5px;
	height: 120%;
}
#Contenido li{
	margin-left: 10px;
	color: black;
}
#Contenido li::before {
	padding-right: 8px;
	color: #92A3FF;
}

ul, ol{
	display: flex;
  	flex-direction: column;
}

ul{
	padding-left: 10px;
}

ol{
	padding-left: 30px;
}

h1{
	color:ffffff;
	text-align: center;
}

h2{
	margin-bottom: 5px;
}

#Contenido img{
	height: 390px;
	margin: 10px;
	margin-top: 5px;
}

.footer{
	width: 100%;
	height: 100%;
	background: #D0D5D0;
	margin-top: 6%;
	border-top: solid black 5px;
	text-align: center;
	padding: 0;
}

.footer h6{
	font-size: 15px;
	margin: 0;
}

#Pirlo{
	height:  100px;
	margin: 15px;
}

.apartado{
	padding: 1px;
}

/*Apartado de tablas */

table{
	table-layout: fixed;
  	width: 100%;
  	border-collapse: collapse;
  	border: 2px solid gray;
  	margin-bottom: 15px;
}

th, td {
  	padding: 10px;
}

td{
	text-align: center;
}

thead th, tfoot th, tfoot td, th, td {
	letter-spacing: 0;
 	border: 3px solid gray;
}

caption {
  	padding: 0px;
 	font-style: italic;
  	color: #666;
  	letter-spacing: 1px;
}

/*APARTADO DEL FORMULARIO*/
form {
  	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  	padding-bottom: 2em;
}

fieldset {
	border: none;
  	padding: 0;
  	border-bottom: 3px solid #3b3b4f;
}

input, textarea, select {
  	margin: 10px 0 0 0;
	width: 100%;
  	min-height: 2em;
}

input, textarea {
  	background-color: #F4F4F4;
  	border: 1px solid black;
  	color: black;
}

input[type="submit"] {
  	display: block;
  	width: 20%;
  	margin: 5% auto;
	margin-left: 10%;
  	height: 1em;
  	font-size: 1.1rem;
  	background-color: white;
  	border-color: black;
  	min-width: 100px;
}

fieldset:last-of-type {
  	border-bottom: none;
}

label {
  	display: block;
	margin: 0.5rem 0;
}

.inline {
  	width: unset;
 	margin: 0 0.5em 0 0;
  	vertical-align: middle;
}